.image-11-icon {
  position: absolute;
  top: 109px;
  left: 353px;
  width: 650px;
  height: 300px;
  object-fit: cover;
}
.desktop-8-child {
  position: absolute;
  top: 568px;
  left: 171px;
  background-color: #d9d9d9;
  width: 1144px;
  height: 232px;
}
.logout {
  position: absolute;
  top: 651px;
  left: 505px;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #000;
  font-family: var(--font-inter);
}
