.indian2 {
  width: 422px;
  height: 81px;
  position: relative;
  display: inline-block;
  font-weight: 200;
  flex-shrink: 0;
  max-width: 100%;
}
.return-to-page-text {
  height: 54px;
  width: 87px;
  position: relative;
}
.non-veg-food {
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 200;
  min-width: 420px;
  max-width: 100%;
}
.image-wrapper {
  width: 733px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.non-veg-food-text {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.frame-set,
.non-veg-food-text,
.text-label-indian {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text-label-indian {
  width: 957px;
  flex-direction: column;
  align-items: flex-end;
  gap: 29px 0;
}
.frame-set {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.image-1-icon2 {
  width: 930px;
  height: 466px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.inner-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 61px 0;
  max-width: 100%;
}
.return-to-page {
  height: 65px;
  width: 331px;
  position: relative;
  display: inline-block;
  font-weight: 200;
  flex-shrink: 0;
  max-width: 100%;
}
.return-to-page-button {
  width: 595px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.frame-container1 {
  width: 100%;
  position: relative;
  background-color: #8e5e5e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 222px var(--padding-2xl) var(--padding-4xl);
  box-sizing: border-box;
  gap: 193px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .inner-frame {
    gap: 61px 0;
  }
}
@media screen and (max-width: 1050px) {
  .indian2,
  .non-veg-food {
    font-size: var(--font-size-29xl);
  }
  .return-to-page {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 750px) {
  .non-veg-food {
    min-width: 100%;
  }
  .inner-frame {
    gap: 61px 0;
  }
  .frame-container1 {
    gap: 193px 0;
    padding-right: 111px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .indian2,
  .non-veg-food {
    font-size: var(--font-size-10xl);
  }
  .return-to-page {
    font-size: var(--font-size-5xl);
  }
  .frame-container1 {
    gap: 193px 0;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
