.image-10-icon {
  position: absolute;
  top: 186px;
  left: 185px;
  width: 1070px;
  height: 652px;
  object-fit: cover;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
}
